<!--This is the base template for the forensicsfiles application-->
<!DOCTYPE='html'>
<html>
<body>
<h1>{% block title %}Team Overview:{% endblock %}</h1>

{% block content %}
<ul>
	<li><a href="{{login}}">Log In</a></li>
	<li><a href="{{logout}}">Log Out</a></li>
</ul>
<ul>
	<li><h2>Upcoming Tournaments:</h2>
		<ul>
		{% for tournament in tournaments %}
			<li>{{tournament.name}} - {{tournament.location}} : {{tournament.startDate|date:"M d "}} - {{tournament.endDate|date:"d, Y"}}</li>
		{% endfor %}
		</ul>
	</li>
	<li><h2>Requirements for {{upcoming.name}}</h2>
		<ul>
		{% for requirement in upcoming.requirements %}
			<li>{{ requirement.reqType.name }}: {{ requirement.requirement }}</li>
		{% endfor %}
		</ul>
	</li>
	<li><h2>Requirements you've completed:</h2>
		<ul>
		<li>{{ closed }}</li>
		</ul>
	</li>
<ul>
{% endblock %}	
</body>
</html>